{% extends 'base.html' %}
{% block title%}Piqoboo - signUp{% endblock %}

<!-- hero section -->
{% block hero %}

<div class="container">
    <h1>Create an account</h1>
    <p class="sub">Sign up now and unluck exclusive access!</p>
    <div class="form-cta">
        <form method="post">
            {{form.hidden_tag()}}
            {{form.name.label( class="form-label")}} {{form.name(class="form-control", placeholder="fullname")}}<br/>
            {{form.email.label( class="form-label")}} {{form.email(class="form-control", placeholder='you@email.com')}}<br/>
            {{form.password.label( class="form-label")}} {{form.password(class="form-control", placeholder='password')}}<br/>
            {{form.confirm_password.label( class="form-label")}} {{form.confirm_password(class="form-control", placeholder="confirm password")}}<br/>
            {{form.submit(class="btn", id='submit')}}
        </form>
    </div>
    
    <!-- To be displayed in the based template-->
    <!-- <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
        {% endfor %}
    </div> -->
</div>


{% endblock %}